.itemDetail {
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 15px;
    color: #06260E;
	font-weight: bold;
	text-decoration:none;
}

.itemDetailMuestra {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.itemDetailImage {
    height:150px;
}

.botonCart {
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 15px;
    color: #06260E;
	font-weight: bold;
	text-decoration:none;
    border: 2px solid #0E481C;
    width: 40%;
    background-color: white;
    margin: 10px;
}

.botonCart:hover {
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    color: #06260E;
	font-weight: bold;
	text-decoration:none;
    border: 2px solid #0E481C;
    width: 40%;
    background-color: #185c28;
    margin: 10px;
}