.inputForm {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 15px;
    color: #06260E;
	font-weight: bold;
	text-decoration:none;
    border: 2px solid #0E481C;
    width: 20%;
    background-color: white;
    margin: 10px;
}

.botonForm {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 15px;
    color: #06260E;
	font-weight: bold;
	text-decoration:none;
    border: 2px solid #0E481C;
    width: 40%;
    background-color: white;
    margin: 10px;
}

.botonForm:hover {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 16px;
    color: #06260E;
	font-weight: bold;
	text-decoration:none;
    border: 2px solid #0E481C;
    width: 40%;
    margin: 10px;
}

.botonForm:disabled {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 16px;
    color: #C8B338;
	font-weight: bold;
	text-decoration:none;
    border: 2px solid #C8B338;
    width: 40%;
    margin: 10px;
}
