.cargando {
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #06260E;
	font-weight: bold;
	text-decoration:none;
    align-items: center;
    padding: 20px;
}

.titulo {
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #06260E;
    font-weight: bold;
    text-decoration:none;
    font-size: 30px;
}