.maquetadoCard {
    float: left;
    width: 33%;
    height: 700px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #0E481C;
    border-radius: 5%;
    background-color: white;
    margin: 5px;
}

.titulo {
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #06260E;
	font-weight: bold;
	text-decoration:none;
}

.tituloCard {
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #06260E;
	font-weight: bold;
	text-decoration:none;
}

.recuadroImagenCard {
    align-self: center;
}

.imagenCard {
    width: 75%;
    max-height: 400px;
}

.descripcionCard {
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 15px;
    color: #06260E;
	font-weight: bold;
	text-decoration:none;
}

.MaquetadoBotonCard {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.botonCard {
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 15px;
    color: #06260E;
	font-weight: bold;
	text-decoration:none;
    border: 2px solid #0E481C;
    width: 40%;
    background-color: white;
    margin: 10px;
}

.botonCard:hover {
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    color: #06260E;
	font-weight: bold;
	text-decoration:none;
    border: 2px solid #0E481C;
    width: 40%;
    background-color: #185c28;
    margin: 10px;
}