.maquetadoCard {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #0E481C;
    border-radius: 5%;
    width: 40%;
    background-color: white;
}

.tituloCard {
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #06260E;
	font-weight: bold;
	text-decoration:none;
}

.recuadroImagenCard {
    align-self: center;
}

.imagenCard {
    height: 300px;
}

.descripcionCard {
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 15px;
    color: #06260E;
	font-weight: bold;
	text-decoration:none;
}

.MaquetadoBotonCard {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.botonCard {
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 15px;
    color: #06260E;
	font-weight: bold;
	text-decoration:none;
    border: 2px solid #0E481C;
    width: 40%;
    background-color: white;
    margin: 10px;
}

.botonCard:hover {
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    color: #06260E;
	font-weight: bold;
	text-decoration:none;
    border: 2px solid #0E481C;
    width: 40%;
    background-color: #185c28;
    margin: 10px;
}